<!DOCTYPE html>
<html>
<head>
    <title>Tutorial Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="../libs/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../libs/syntaxhighlighter/scripts/shBrushCpp.js" ></script>
    <script type="text/javascript" src="../libs/syntaxhighlighter/scripts/shBrushJScript.js"></script>

    <link rel="stylesheet" href="../libs/syntaxhighlighter/styles/shCore.css" />
    <link rel="stylesheet" href="../libs/syntaxhighlighter/styles/shCoreDefault.css" />

    <link rel="stylesheet" href="../libs/syntaxhighlighter/styles/shThemeDefault.css" />
    <script type="text/javascript">SyntaxHighlighter.all();</script>

</head>
<body>
    <header>
        <em>Algorithm Tutorials</em>
        <hr>
    </header>
    <content>
        <div id="tutorial-header">
            <div id="tutorial-title">
                <h1>Tutorial title</h1>
            </div>
            <div id="author-info">
                <div id="author-row">
                    <div id="author-photo">
                        <!-- pictures/author.png contains the author photo. -->
                        <img src="pictures/author.png" width="48" height="48" alt="alt_text" />
                    </div>
                    <div id="author-account-info">
                        <!-- replace [code] with the author's id. -->
                        <!-- replace [author_nick] accordingly. -->
                        <a href="http://community.topcoder.com/tc?module=MemberProfile&cr=[code]" target="_blank">[author_nick]</a><br>
                        <em>TopCoder Member</em>
                    </div>
                </div>
            </div>
        </div>


        <div id="table-of-contents">
            <ol>
                <li><a href="#point-one">Point one</a></li>
                <li><a href="#point-two">Point two</a></li>
                <li><a href="#point-three">Point three</a></li>
            </ol>
        </div>


        <div id="article">
            <h1><a name="point-one">Point one</a></h1>
            Some text.

            <h1><a name="point-two">Point two</a></h1>
            Some text.

            <h1><a name="point-three">Point three</a></h1>
            Some text.
    </content>
    <footer>
    </footer>
</body>
</html>
