* {
    padding: 0;
    margin: 0;
}

body, p {
    font-family: sans-serif;
    padding: 5px;
}
hr {
    display: block; height: 1px;
    border: 0;
    border-top: 1px solid #666666;
    padding: 0;
}

header {
    font-size: 30px;
    font-weight: bold;
    color: #666666;
    margin: 25px;
}

#tutorial-header {
    margin: 25px;
}

#tutorial-title {
    text-align: center;
    margin-bottom: 10px;
}

#tutorial-title h1 {

}

#author-info {
    display: table;
    margin-left: auto;
    margin-right: auto;
    height: 52px;
}

#author-row {
    display: table-row;
}
#author-photo {
    float: left;
    display: table-cell;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
#author-account-info {
    vertical-align: middle;
    display: table-cell;
    width: 160px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#table-of-contents {
    margin: 25px;
    padding: 5px;
    border: 1px solid #aaaaaa;
}

#table-of-contents ol {
    list-style: decimal inside;
}

#table-of-contents li {
    margin: 5px;
}

#article {
    margin: 25px;
}

#article h1 {
    font: 160% sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

#article ol {
    list-style: decimal inside;
    margin-top: 10px;
    margin-bottom: 10px;
}

#article ul {
    list-style: square inside;
    margin-top: 10px;
    margin-bottom: 10px;
}

#article p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}

#article pre {
    border: 1px solid #aaaaaa;
}

#article .figure {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#article .figure table {
    margin: 0 auto;
    border: 1px solid #aaaaaa;
    border-spacing: 0px;
}

#article .figure th, td {
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}

#article .figure th {
    background-color: lightblue;
    border-color: white;
}

#article .figure img {
    display: block;
    margin: 0 auto;
}

#article .figure p {
    text-align: center;
}

